<div class="block">
  <h3>Create an account</h3>
  <div class="content">
    <p>Create an account and start logging! Be sure to use a valid e-mail address, a confirmation e-mail will be sent.</p>
  </div>
</div>

