<div class="block">
  <h3>Welcome!</h3>
  <div class="content">
    <p>Welcome to Logster. With this little web app you can log your daily activities and view other people's log entries. Create an account and start logging. Enjoy!</p>
  </div>
</div>

