<div class="block">
  <h3>Correct your log</h3>
  <div class="content">
    <p>Here you can edit an existing activity, the date of the activity is not changed. The activity field gives suggestions when your input is similar to earlier activities making it easier to consistently use the same words, omit typos and keep track of how many times your particular activity has been logged.</p>
  </div>
</div>

