<div class="block">
  <h3>Smart logging</h3>
  <div class="content">
    <p>Here you can log new activities, the current date and time are saved. The activity field gives suggestions when your input is similar to earlier activities making it easier to consistently use the same words, omit typos and keep track of how many times your particular activity has been logged.</p>
  </div>
</div>

